{% extends 'music/base.html' %}
{% block title %}Hudba - informace o skladbách{% endblock %}
{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                {% if object %}
                    <h1>Hudba - informace o albu</h1>
                    <h2>{{ object.album_title }}</h2>
                    <p>Umělec: {{ object.artist }}</p>
                    <p>Žánr: {{ object.genre }}</p>

                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <h3>Písně v albu</h3>
                        <ul>
                        {%  for song in object.song_set.all %}
                            <li>{{ song.song_title }} ({{ song.song_length }})</li>
                        {% endfor %}
                        </ul>
                {% else %}
                    <h3>Neexistuje zadne album</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}