{% extends 'music/base.html' %}
{% block title %}Hudba - informace o albech{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

    {% if all_albums %}
        <h1>Hudba - seznam alb</h1>
        <ul>
            {% for album in all_albums %}
            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Neexistuje zadne album</h3>
    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}